/*_____________ Kode av: tcl059, kandidat 139 _____________*/
body, html {
	margin: 0;
  width: 100%;
}

#mainSection {
  width: 90%;
  margin-left: auto;
  margin-right: auto;1
}

/*_____________Fonts_____________*/

h1 {
	font-family: Lato, Helvetica Neue, Helvetica, Arial;
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 1.8px;
	color: #808080;
  text-align: center;
  margin: 0.8rem 0rem 0.8rem 0rem;

}

.underline {
	width: 60px;
	border-bottom: 3px solid #0099cc;
	margin: -5px auto 25px auto;
}

p {
  font-family: Lato, Helvetica Neue, Helvetica, Arial;
	font-size: 0.8em;
	font-weight: 300;
	color: #4d4d4d;
	margin-bottom: 1rem;
}

a {
  font-family: Lato, Helvetica Neue, Helvetica, Arial;
	font-size: 0.8em;
	color: #4d4d4d;
}

h2 {
	font-family: Lato, Helvetica Neue, Helvetica, Arial;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1.8px;
	color: #0099cc;
  margin: 5px auto 5px auto;
}

h3 {
	font-family: Lato, Helvetica Neue, Helvetica, Arial;
	font-size: 0.9rem;
	font-weight: 400;
	color: #0099cc;
	letter-spacing: 1.2px;
  margin: 5px auto 5px auto;
}


input {
	margin-bottom: 0.6rem;
	margin-left: 0.2rem;
}

.but {
    background-color: #0099cc; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
		border-radius: 5px;

		font-size: 0.8em;
		font-weight: 400;
		letter-spacing: 1.2px;
		margin-left: -0rem;
}

.but:focus {
	outline:0;
}
