@import url("jquery/humanity/jquery-ui-1.8.16.custom.css");

/* entity */
.entity_search {
  margin:0px;
  padding:0px;
  width:590px;
  margin-top:5px;
  margin-bottom:5px;
}
.entity_search_fields {
}
.entity_search_field {
  float:left;
  margin-left:5px;
}
.entity_search_field span {
  display:inline-block;
  margin-right:5px;
}
.entity_search_submit {
  float:right;
}
.entity_result {
  clear:both;
  width:590px;
  border-collapse:collapse;
  border-spacing:0px;
  table-layout:fixed;
  margin-left:5px;
}
.entity_result th {
  text-align:left;
}
.entity_result td {
}

/* use available additions */
#session .available_empty {
	width:16px;
	height:16px;
	margin-right:4px;
}
#session .available {
	width:16px;
	height:14px;
	background-image:url(/img/icons/status_free.png);
	background-repeat:no-repeat;
	background-position: 0px -1px;
	color:black;
	font-size:9px;
	line-height: normal;
	text-align:center;
	font-weight:normal;
	padding-top:2px;
	margin-right:4px;
}
#session .available_full {
	width:16px;
	height:14px;
	background-image:url(/img/icons/status_full.png);
	background-repeat:no-repeat;
	background-position: 0px -1px;
	color:black;
	font-size:9px;
	line-height: normal;
	text-align:center;
	font-weight:normal;
	padding-top:2px;
	margin-right:4px;
}
#session .available_waitlistnumber {
	width:16px;
	height:14px;
	background-image:url(/img/icons/status_wait.png);
	background-repeat:no-repeat;
	background-position: 0px -1px;
	color:black;
	font-size:9px;
	line-height: normal;
	text-align:center;
	font-weight:normal;
	padding-top:2px;
	margin-right:4px;
}
span.studioName {
	width: 150px;
	color: green;
}

.tooltip {
	padding:2px;
	border:1px solid #cacaca;
	background-color:#ffffca;
}

/* Default verdier for ny MinSide

/* message box */
.messageText3 {
	margin-bottom:20px;
	font-size:14px;
}
.messageBox3 {
	padding:10px;
	padding-top:0px;
	margin:2px;
	border:1px solid #666666;
	background-color:white;
	width:640px;
	color:black;
}
.messageBox3 a {
	color:blue;
	text-decoration:none;
}
.messageBox3 a:hover {
	text-decoration:underline;
}
.messageBox3 h3{
	width:100%;
	font-size:22px;
	margin:10px;
	padding-bottom:10px;
	text-align:left;
}
.messageItem3 {
	margin-bottom:5px;
	font-size:14px;
}
.messageItem3 span {
	display:block;
	float:left;
	width:130px;
}


/* MEMBER REGISTRATION */

form.regForm table tr td {
	padding-bottom: 5px;
}
.messageBox2 {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	padding: 10px;
	font-family: Verdana;
}
form.regForm .messageText {
	padding-left: 6px;
	padding-right: 6px;
}
form.regForm label {
	text-align: right;
	display: block;
	padding-right: 10px;
	color: #666;
	font-size: 12px;
}
form.regForm .messageText {
	font-weight: normal;
}
.messageBox2 h3.regTitle {
	margin-top: 0px;
	padding: 5px;
	font-weight: normal;
	font-size: 18px;
	border-bottom: 1px solid #eaeaea;
}
.regField {
	border: 1px solid #ccc;
	padding: 3px;
	font-size: 12px;
	color: #666;
	outline: 0;
	width: 200px;
}
.regField.small {
	width: 42px;
}
.regField.medium {
	width: 95px;
}
.regField:focus {
	border: 1px solid #666;
}
.ui-button-text {
	font-size: 14px;
	color: #333;
}
.ui-dialog,.ui-dialog .ui-dialog-content {
	background-color: #fff;
	color: #333;
}
.ui-dialog-buttonpane {
	background-color: #fff;
}
.ui-button {
	outline: 0px;
	background-color: #eaeaea;
}

div.ibookingLogo {
	position: relative;
	top: 35px;
	text-align: right;
}
div.ibookingLogo img {
	display: inline;
}

div.senterLogo {
	display: none;
}
div.senterName {
	display: block;
	font-size: 22px;
	color: black;
	line-height: 20px;
	margin-bottom: 15px;
	font-family: Verdana;
}
a.poweredByLink {
	color: orange;
	font-size: 10px;
	font-weight: normal;
	margin-top: 5px;
}

/* ADMIN MENU */
.iBookingContainer, td .iBookingContainer {
	background-color: #f8f8f8;
	border: 1px solid #f1b351;
	font-family: Verdana;
	font-size: 14px;
	color: black;
	line-height: 20px;
}
td {
	font-size: 14px;
}
.iBookingContainer p {
	font-size: 14px;
	line-height: 20px;
	margin-top: 0px;
	padding: 0px;
	margin-bottom: 14px;
}
.iBookingContainer h3 {
	margin: 0px;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	font-size: 18px;
	border-bottom: 1px solid #f1b351;
	background-color: #f1b351;
	color: white;
}
.iBookingContent .ui-button {
}
.iBookingContent .ui-button.hoverButton {
}
.iBookingContent .ui-button.hoverButton .ui-button-text {
}
.iBookingContent .ui-button-text {
}
.iBookingContent {
	padding: 10px;
	background-color: #fff5e8;
}
a.adminMenuLink {
	font-weight: normal;
	width: 130px;
	display: block;
	color: black;
}
.messageItem span.adminMenuInfo {
	display: block;
	width: auto;
	font-size: 12px;
	height: 14px;
}
span.latestRun {
	font-size: 10px;
}

div.newsArticle {
	margin-bottom: 20px;
	border-bottom: 1px solid #f1b351;
	padding-bottom: 10px;
}
span.newsDate {
	font-size: 12px;
	float: right;
	margin-top: 4px;
}
div.iBookingContent a {
	font-weight: normal;
	color: #a57326;
	text-decoration: none;
}
div.newsArticle h4 {
	font-weight: normal;
	color: black;
}
div.newsImage {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 0px;
}

div.newsImage img {
	border: 1px solid #eaeaea;
	width: 180px;
}
/* ICON BUTTONS */

button.fg-button { width:auto; overflow:visible; }

a.rightAlign { text-align: right;}

.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	
a.fg-button { float:left; }

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }


/* (VISUAL) SCHEDULE */
a.fakeLink {
	cursor: pointer;
}

div.scheduleIconHolder {
	float: right;
	margin-top: 0px;
}
p.iBooking {
	text-align: right;
	padding: 0px;
	margin: 0px;
	padding-right: 10px;
}
p.iBooking a {
	color: orange;
	font-weight: normal;
	font-size: 10px;
}
ul.scheduleIcons {
	margin: 0px;
	padding: 0px;
	text-align: right;
	width: 450px;
}
#bookMenu ul.scheduleIcons li, ul.scheduleIcons li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 25px;
	height: 20px;
	clear: none;
	float: right;
	margin-right: 0px;
}
ul.scheduleIcons li a {
	float: none;
}
#bookMenu ul.scheduleIcons li.printerIcon, ul.scheduleIcons li.printerIcon {
	padding-left: 15px;
}
ul.scheduleIcons li a:hover {
}
ul.scheduleIcons li a img {
	border: 0px;
	width: 20px;
}
ul.scheduleIcons li a.helpIcon {
	background-image: url(/img/admin_icons/hjelp.png);
	width: 50px;
	height: 20px;
	display: block;
	cursor: pointer;
}
ul.scheduleIcons li a.helpIcon:hover {
	background-position: 50px 0px;
}
#bookMenu .username a.fakeLink {
	margin-right: 5px;
}
/* CUSTOM DIALOG */
.instanceDialog {
	/* Dialog settings */
	font-size: 14px;
	padding-bottom: 10px;
}
.instanceDialog .ui-dialog-titlebar {
	display: none;
}
.instanceInfoDate {
	color: #999;
	font-size: 10px;
}
#customDialog {
	display: none;
	background-color: #fff;
}
#customDialog .ui-button {
	border: 1px solid #f1b351;
	background-color: #f2be65;
	color: white;
}
#customDialog .ui-button.hoverButton {
	background-color: #f1b351;
}
#customDialog .ui-button.hoverButton .ui-button-text {
	color: white;
}
#customDialog .ui-button-text {
	color: white;
}

#customDialogClose {
	/* Dialog close container */
	font-size: 12px;
	float: right;
	margin-top: 6px;
	height: 14px;
}
#customDialogClose img {
	/* Dialog close image */
	width: 14px;
	display: inline;
	margin-bottom: -3px;
}
#customDialogClose a {
	/* Dialog close link */
	color: orange;
	font-weight: normal;
}
#customDialogClose a:hover {
	/* Dialog close link hover */
	text-decoration: none;
}
#customDialogHeader {
	/* Dialog header */
	color: orange;
	font-size: 18px;
	border-bottom: 1px solid orange;
	padding-bottom: 3px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 10px;
}
#customDialogHeader img {
	/* Dialog header image */
	margin-right: 3px;
	display: inline;
}
#customDialogImage {
	/* Dialog image */
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

#customDialogBody p,#customDialogBody ul, #customDialogBody ol {
	/* Dialog paragraphs */
	font-size: 12px;
	margin-bottom: 7px;
}
#customDialogBody em {
	font-weight: normal;
	font-style: italic;
}
#customDialogBody a {
	/* Dialog links */
	color: orange;
	font-weight: normal;
	outline: 0;
}

#customDialogBody ul {
	/* Dialog lists */
	margin: 0px;
	padding: 0px;
	padding-left: 17px;
}
#customDialogBody li {
	/* Dialog lists */
	margin: 0px;
	margin-bottom: 7px;
}
a.blockLink, #customDialogBody a.blockLink {
	border: 1px solid #999;
	background-color: #FFF5E8;
	padding: 8px;
	text-align: center;
	color: #666;
	font-size: 12px;
	display: block;
	cursor: pointer;
}
a.blockLink:hover,#customDialogBody a.blockLink:hover {
	text-decoration: underline;
}

p.ie7Warning {
	border: 1px solid red;
	padding: 5px;
	background-color: pink;
}
.visualInstanceHover {
	/*opacity:1;
	filter:alpha(opacity=100);
	*/
	background-color: #eaeaea;
}
.visualInstanceDim {
	/*
	opacity:0.7;
	filter:alpha(opacity=70);*/
}

/* Campains */
.progress {
	border:1px solid #DFDFDF;
	width:355px;
	float:left;
	margin-right:3px;
}
.progress div {
	background-color:#DFDFDF;
}
.progress2 {
	border:1px solid #DFDFDF;
	width:180px;
	float:left;
	margin-right:3px;
}
.progress2 div {
	background-color:#DFDFDF;
}
.campainsTable {
	width:100%;
	margin-bottom:20px;
}
.campainsTable th {
	text-align:left;
	padding:2px;
	background:#cccccc;
	font-weight:bold;
	color:#666666;	
}
.campainsTable td {
	padding:2px;
}

/* My Page Widget */

#myPageWidgetContainer {
	margin: 6px;
	min-width: 180px;
	background-color: transparent;
	padding-bottom: 25px;
	color: black;
}

#myPageWidgetContainer h1 {
	font-family: Helvetica;
	background-color: #eee;
	color: black;
	padding: 5px 10px;
	padding-bottom: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
}                               

#myPageWidgetContent {
	border: 1px solid #eee;
	background-color: #fff;
	padding: 0px 10px;
	padding-top: 10px;
	height: 200px;
}

#myPageWidgetContainer #myPageWidgetContent label {
	display: block;
}

#myPageWidgetContainer #myPageWidgetContent input[type="text"], #myPageWidgetContainer #myPageWidgetContent input[type="password"] {
	width: 95%;
	border: 1px solid #eaeaea;
	padding: 3px;
	outline: 0;
	margin-bottom: 8px;
	color: #999;
}
#myPageWidgetContainer #myPageWidgetContent input[type="text"].active, #myPageWidgetContainer #myPageWidgetContent input[type="password"].active {
	color: black;
}

#myPageWidgetContainer #myPageWidgetContent input[type="text"]:focus, #myPageWidgetContainer #myPageWidgetContent input[type="password"]:focus {
	border: 1px solid #F1B351;
}


#myPageWidgetContainer #myPageWidgetContent input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	
	/*background: #efc552; /* Old browsers */
	/*background: -moz-linear-gradient(top, #efc552 0%, #e6a63d 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc552), color-stop(100%,#e6a63d)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #efc552 0%,#e6a63d 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #efc552 0%,#e6a63d 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #efc552 0%,#e6a63d 100%); /* IE10+ */
	/*background: linear-gradient(to bottom, #efc552 0%,#e6a63d 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc552', endColorstr='#e6a63d',GradientType=0 ); /* IE6-9 */
	/*border: 1px solid #CB8F30;*/
	/*text-shadow: 1px 1px 1px #f4d8a6;*/
	/*color: #191307;*/

	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	text-shadow: 1px 1px 1px #999;
	color: #333;

	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
}

#myPageWidgetContainer #myPageWidgetContent p {
	margin: 0px;
	margin-bottom: 7px;
	font-family: Helvetica;
}

#myPageWidgetContainer #myPageWidgetContent form {
	margin-bottom: 15px;
}

#myPageWidgetContainer p.myPageWidgetLogo {
	margin-top: 7px;
	margin-right: 11px;
}

#myPageWidgetContainer p.myPageWidgetLogo a img {
	float: right;
	margin-bottom: 5px;
}

#myPageWidgetContainer #myPageWidgetContent a.myPageWidgetButton {
	display: block;
	/*background: #F9E4BE; /* Old browsers */
	/*border: 1px solid #FBC971;*/
	background: #eee;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: black;
	font-size: 14px;
	font-family: Helvetica;
	margin: 0px auto;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 5px;
	padding-left: 0px;
	text-decoration: none;
}
#myPageWidgetContainer #myPageWidgetContent hr {
	border: 0px;
	border-top: 1px solid #eaeaea;
}
#myPageWidgetContainer #myPageWidgetContent a.myPageWidgetButton:hover {
	color: black;
	border: 1px solid #999;
}

#myPageWidgetContainer #myPageWidgetContent a.myPageButton span {
	display: block;
	width: 100%;
	padding-left: 25px;
	background-image: url(/img/mypage/minside_impulse.png);
	background-repeat: no-repeat;
	background-position: 5px center;
}

#myPageWidgetContainer #myPageWidgetContent a.bookButton span {
	background-color: green;
	border: 1px solid green;
	color: white;
	-webkit-box-shadow: green 0px 0px 2px 4px;
}

#myPageWidgetContainer #myPageWidgetContent a.logoutButton span {
	display: block;
	width: 100%;
	padding-left: 25px;
	background-image: url(/img/mypage/logout_impulse.png);
	background-repeat: no-repeat;
	background-position: 5px center;
}
#myPageWidgetContainer #myPageWidgetContent a.signupButton span {
	display: block;
	width: 100%;
	padding-left: 25px;
	background-image: url(/img/mypage/signup_impulse.png);
	background-repeat: no-repeat;
	background-position: 5px center;
}

#myPageWidgetContainer #myPageWidgetContent a {
	text-decoration: underline;
	font-weight: normal;
}
.rightImage {
	float: right;
}


.activityShortcodeLogo{
    display: block;
}

p.notification {
    background-color: pink;
    border: 1px solid red;
    padding: .6rem;
}

