.noprint{
	display:none
}

#noprint{
	display:none
}


/* Reservasjonslite - admin */
.resItem #name{
	width:287px;
	border-right:none;
}
.resItem #status{
	display:none;
}
.resItem #del{
	display:none;
}

/* - frontside */
.bookWeek{
	padding:0px;
}
.bookDay li{
	page-break-before: avoid;
	page-break-after: avoid;
}

.bookDay{
	width:400px;
	page-break-inside:avoid;
}
